extends ../layout
content block
h1 login
form(action='/users/login', method='post')
    fieldset
    .field


        .registrations
            a(href='/users/signup') Register
            br
            a(href='/users/login') Register
            br


